* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden; }

.text-center {
  text-align: center; }

.upper-case {
  text-transform: uppercase; }

@keyframes moveLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

.u-center-text {
  text-align: center; }

.u-big-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400; }

.u-text-primary {
  color: #7971EA; }

.u-py-5 {
  padding: 5rem 0; }

.u-py-3 {
  padding: 3rem 0; }

.u-bg-primary {
  background: #7971EA;
  color: #FFFFFF; }

.btn:link,
.btn:visited,
.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  transition: .5s all; }

.btn-primary {
  background: #7971EA;
  color: #FFFFFF; }

.btn-primary:hover {
  background: #645be7; }

.btn-black {
  background: rgba(0, 0, 0, 0.8);
  color: #FFFFFF; }

.btn-black:hover {
  opacity: .6; }

.container {
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 2rem; }

.header {
  width: 100vw;
  background: linear-gradient(rgba(52, 58, 64, 0.8), rgba(52, 58, 64, 0.8)), url("../img/hero_1.jpg") no-repeat center center/cover;
  background-attachment: fixed; }
  .header__container {
    height: 94vh;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-content: center; }
    .header__container-content {
      color: #FFFFFF;
      animation: moveLeft 1s .5s; }
      .header__container-content p {
        color: gray;
        font-size: 1.1rem; }
      .header__container-content .btn {
        font-weight: 900; }
      .header__container-content * {
        margin: 1.2rem 0; }
    .header__container-form {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      background: #FFFFFF;
      border-radius: 20px;
      animation: moveUp 1s .5s; }
      .header__container-form * {
        margin: .5rem 0; }
      .header__container-form h1 {
        font-weight: 400;
        padding: 1rem 0; }
      .header__container-form input {
        padding: 1rem;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(128, 128, 128, 0.4);
        transition: .5s all; }
        .header__container-form input:hover, .header__container-form input:active, .header__container-form input:focus {
          border-color: #7971EA; }
      .header__container-form .btn {
        float: right; }

.nav-bar {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #FFFFFF;
  width: 100vw; }
  .nav-bar__container {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center; }
    .nav-bar__container-brand a {
      font-weight: 700;
      z-index: 1;
      text-decoration: none;
      color: #000; }
    .nav-bar__container-links ul {
      list-style: none; }
      .nav-bar__container-links ul li {
        display: inline-block;
        margin: 0 1rem; }
        .nav-bar__container-links ul li a {
          text-decoration: none;
          color: #000;
          font-size: 1.1rem;
          padding: .3rem 0;
          transition: .8s all; }
          .nav-bar__container-links ul li a:hover {
            color: #7971EA; }
          .nav-bar__container-links ul li a.active {
            border-bottom: 2px solid #7971EA; }
    .nav-bar__container .btn.btn-primary {
      padding: .8rem 1.2rem;
      font-weight: 900; }
    .nav-bar__container-repsonsive-nav {
      display: none; }
    .nav-bar__container input[type="checkbox"] {
      position: absolute;
      right: .9rem;
      display: none;
      height: 28px;
      width: 30px;
      z-index: 1; }

.courses__items {
  margin-top: .5rem;
  display: flex;
  flex-wrap: wrap; }
  .courses__items-item {
    flex: 1 0 30%;
    position: relative;
    margin: 1rem;
    border: 1px solid #7971EA;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3); }
    .courses__items-item-price {
      padding: .5rem;
      display: inline-block;
      position: absolute;
      font-style: italic;
      right: 0; }
    .courses__items-item img {
      width: 100%; }
    .courses__items-item-content {
      padding: 1rem; }
      .courses__items-item-content h2 {
        background-image: linear-gradient(to right bottom, #7971EA, #3a2ee0);
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
        font-size: 1.5rem; }
      .courses__items-item-content p {
        word-break: break-all; }
    .courses__items-item .buttons {
      display: flex; }
      .courses__items-item .buttons .btn {
        flex: 1;
        border-radius: 0;
        text-align: center;
        border-top: 1px solid #7971EA;
        display: flex;
        align-items: center;
        justify-content: center; }
        .courses__items-item .buttons .btn:nth-child(2) {
          border-left: 1px solid #7971EA;
          flex: 2; }
          .courses__items-item .buttons .btn:nth-child(2):hover {
            color: #4f45e3; }

.testmonials {
  background: linear-gradient(to right bottom, #7971EA, #4f45e3);
  position: relative; }
  .testmonials__items-buttons .btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 0; }
    .testmonials__items-buttons .btn:nth-child(1) {
      right: unset;
      left: 0; }
  .testmonials__items-item {
    display: none; }
    .testmonials__items-item img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%; }
    .testmonials__items-item h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      background-image: linear-gradient(to bottom, #FFFFFF, #e6e6e6);
      -webkit-background-clip: text;
      color: transparent; }
    .testmonials__items-item p {
      color: #FFFFFF;
      font-size: 1rem; }
  .testmonials .fade {
    animation-name: fade;
    animation-duration: 1.3s; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
