html {
  font-size: 14px; }

.nav-bar__container {
  z-index: 1; }
  .nav-bar__container .btn.btn-primary {
    display: none; }
  .nav-bar__container-links ul {
    position: absolute;
    top: -300px;
    background: #FFFFFF;
    width: 100vw;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s top ease-out;
    overflow: hidden;
    border-bottom: #7971EA 4px solid; }
    .nav-bar__container-links ul li {
      margin: 1rem; }
      .nav-bar__container-links ul li a {
        font-size: 1.4rem; }
  .nav-bar__container-repsonsive-nav {
    display: block;
    width: 2rem;
    height: 3px;
    background: #000;
    position: relative;
    transition: .2s all ease-in-out; }
    .nav-bar__container-repsonsive-nav::before {
      content: '';
      width: 2rem;
      height: 3px;
      background: #000;
      position: absolute;
      top: -8px;
      transition: inherit; }
    .nav-bar__container-repsonsive-nav::after {
      content: '';
      width: 2rem;
      height: 3px;
      background: #000;
      position: absolute;
      top: 8px;
      transition: inherit; }
  .nav-bar__container input[type="checkbox"] {
    display: block;
    opacity: 0; }
  input[type="checkbox"]:checked ~ .nav-bar__container-links ul {
    top: 100%; }
  input[type="checkbox"]:checked ~ .nav-bar__container-repsonsive-nav {
    transform: rotate(35deg); }
    input[type="checkbox"]:checked ~ .nav-bar__container-repsonsive-nav::after {
      top: 0;
      transform: rotate(0deg); }
    input[type="checkbox"]:checked ~ .nav-bar__container-repsonsive-nav::before {
      top: 0;
      transform: rotate(-70deg); }

.header__container {
  height: auto;
  grid-template-columns: 1fr;
  margin-bottom: 1rem; }
