// Max-width 768px

@import "utils/variables";

html {
    font-size: 14px;
}

.nav-bar {

    &__container {
        z-index: 1;

        .btn.btn-primary {
            display: none;
        }

        &-links ul {
            position: absolute;
            top: -300px;
            background: $white-color;
            width: 100vw;
            right: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: .5s top ease-out;
            overflow: hidden;
            border-bottom: $primary-color 4px solid;


            li {
                margin: 1rem;

                a {
                    font-size: 1.4rem;
                }
            }
        }

        &-repsonsive-nav {
            display: block;
            width: 2rem;
            height: 3px;
            background: $text-color;
            position: relative;
            transition: .2s all ease-in-out;

            &::before {
                content: '';
                width: 2rem;
                height: 3px;
                background: $text-color;
                position: absolute;
                top: -8px;
                transition: inherit;
            }

            &::after {
                content: '';
                width: 2rem;
                height: 3px;
                background: $text-color;
                position: absolute;
                top: 8px;
                transition: inherit;
            }
        }

        input[type="checkbox"] {
            display: block;
            opacity: 0;
        }

        input[type="checkbox"]:checked~&-links ul {
            top: 98%;
        }

        input[type="checkbox"]:checked~&-repsonsive-nav {
            transform: rotate(35deg);

            &::after {
                top: 0;
                transform: rotate(0deg);
            }

            &::before {
                top: 0;
                transform: rotate(-70deg);
            }
        }

    }
}

// Header
.header {
    &__container {
        height: auto;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
    }
}

// The slide show

.testmonials {
    &__items-buttons .btn {

        top: unset;
        bottom: 10px;
        transform: translateY(0);

        transform: translateX(50%);
        right: unset;
        left: 50%;

        &:nth-child(1) {
            left: unset;
            right: 50%;
            transform: translateX(-50%);
        }

    }
}

@media (max-width: 640px) {

    .courses {
        &__items {

            &-item {
                flex: 1 0 80%;
            }
        }
    }
}