
// header
.header {

    width: 100vw;

    background: linear-gradient(rgba(#343a40, .8), rgba(#343a40, .8)), url('../img/hero_1.jpg') no-repeat center center/cover;
    background-attachment: fixed;

    &__container {
        height: 94vh;
        padding: 1rem 0;

        // For centring the items
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: center;
        justify-content: center;

        &-content {
            color: $white-color;
            animation: moveLeft 1s .5s;

            p {
                color: $grey-color;
                font-size: 1.1rem;
            }

            .btn {
                font-weight: 900;
            }

            * {
                margin: 1.2rem 0;
            }
        }

        // Registration form
        &-form {
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
            background: $white-color;
            border-radius: 20px;
            animation: moveUp 1s .5s;

            * {
                margin: .5rem 0;
            }

            h1 {
                font-weight: 400;
                padding: 1rem 0;
            }

            input {
                padding: 1rem;
                border-radius: 5px;
                outline: none;
                border: 1px solid rgba($grey-color, .4);
                transition: .5s all;

                &:hover,
                &:active,
                &:focus {
                    border-color: $primary-color;
                }
            }

            .btn {
                float: right;
            }
        }
    }
}