.u-center-text { text-align: center; }
.u-big-heading { font-size: 2.5rem; text-transform: uppercase; font-weight: 400; }
.u-text-primary { color: $primary-color; }

.u-py-5 { padding: 5rem 0; }
.u-py-3 { padding: 3rem 0; }

.u-width-100 { width: 100%; }

.u-bg-primary { background: $primary-color; color: $white-color; }