.courses {

    &__items {
        margin-top: .5rem;
        display: flex;
        flex-wrap: wrap;

        &-item {
            flex: 1 0 30%;
            position: relative;
            margin: 1rem;
            border: 1px solid $primary-color;
            overflow: hidden;
            box-shadow: 8px 8px 8px rgba($text-color, .3);

            &-price {
                padding: .5rem;
                display: inline-block;
                position: absolute;
                font-style: italic;
                right: 0;
            }


            img {
                width: 100%;
            }

            &-content {
                padding: 1rem;

                h2 {
                    background-image: linear-gradient(to right bottom, $primary-color, darken($primary-color, 15%));
                    -webkit-background-clip: text;
                    color: transparent;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                }

                p {
                    word-break: break-all;
                }

            }

            .buttons {
                display: flex;

                .btn {
                    flex: 1;
                    border-radius: 0;
                    text-align: center;
                    border-top: 1px solid $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    &:nth-child(2) {
                        border-left: 1px solid $primary-color;
                        flex: 2;

                        &:hover {
                            color: darken($primary-color, 10%);
                        }
                    }
                }
            }
        }
    }
}

.testmonials {
    background: linear-gradient(to right bottom, $primary-color, darken($primary-color, 10%));
    position: relative;

    &__items-buttons .btn {
        position: absolute;

        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 0;

        &:nth-child(1) {
            right: unset;
            left: 0;
        }

    }

    &__items-item {

        // This will get fixed in java script
        display: none;

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }

        h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            background-image: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
            -webkit-background-clip: text;
            color: transparent;
        }

        p {
            color: $white-color;
            font-size: 1rem;
        }
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.3s;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}