.courses {
    position: relative;

    h1 {
        font-weight: 900;
    }

    .container {
        overflow: unset;
        height: auto;
    }

    &__items {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;

        &-item {
            flex: 1 0 30%;
            position: relative;
            margin: 1rem;
            background: $white-color;
            border-radius: .5rem;
            overflow: hidden;
            transition: .5s all;

            &:hover {
                transform: translateY(-.5rem);
            }

            &:nth-child(n+4) {
                display: none;
                animation: showFromTop 1.5s;
            }

            &-price {
                padding: .5rem;
                display: inline-block;
                position: absolute;
                font-style: italic;
                right: 0;
                top: 10%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                cursor: default;
            }


            img {
                width: 100%;
                max-height: 350px;
            }

            &-content {
                padding: 1rem;

                h2,
                p,
                small {
                    cursor: default;
                }

                h2 {
                    font-size: 1.5rem;
                    color: $primary-color;
                }

                p {
                    word-break: break-all;
                    color: $text-color;
                    word-spacing: 1px;
                    font-size: 1.1rem;
                }

                small {
                    margin-bottom: 1rem;
                    display: block;
                    color: $grey-color;
                    font-style: italic;
                }


            }

            .buttons {
                display: flex;

                .btn {
                    flex: 1;
                    border-radius: 0;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:nth-child(2) {

                        &:hover {
                            color: darken($primary-color, 10%);
                        }
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.testmonials {
    background: $overlay, url('../img/school-img.jpg') no-repeat center center/cover;
    position: relative;

    &__items-buttons .btn {
        position: absolute;

        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 0;

        &:nth-child(1) {
            right: unset;
            left: 0;
        }

    }

    &__items-item {

        // This will get fixed in java script
        display: none;

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            background-image: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
            -webkit-background-clip: text;
            color: transparent;
        }

        p {
            color: $white-color;
            font-size: 1.2rem;
            word-break: break-all;
            text-align: center;
        }
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.3s;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}

@keyframes showFromTop {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}