.testmonials {
    background: linear-gradient(to right bottom, $primary-color, darken($primary-color, 10%));
    position: relative;

    &__items-buttons .btn {
        position: absolute;

        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 0;

        &:nth-child(1) {
            right: unset;
            left: 0;
        }

    }

    &__items-item {

        // This will get fixed in java script
        display: none;

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }

        h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            background-image: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
            -webkit-background-clip: text;
            color: transparent;
        }

        p {
            color: $white-color;
            font-size: 1rem;
        }
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.3s;
        animation-delay: .1s;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}