// colors inspired from: https://flatuicolors.com/palette/us
$primary-color: #5f27cd;
$white-color: #f7f7f7;
$grey-color: #b2bec3;
$text-color: #222f3e;
$linear-primary: linear-gradient(to right bottom, $primary-color, darken($primary-color, 10%));

$overlay: linear-gradient(rgba($text-color, .7), rgba($text-color, .7));